<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ky TradeMarks - كيه واي</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App needs permission to save photos to your gallery</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ky TradeMarks - كيه واي</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.124458226407-n6rb464edvrm6pv754fd243qiqhdlejk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebaseDynamicLink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.dokkan.beitward</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Our app doesn&apos;t need any AppleMusic permission</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Our app doesn&apos;t need any Calendar permission</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to take photos for creating a user profile</string>
	<key>NSContactsUsageDescription</key>
	<string>Our app doesn&apos;t need any contacts permission</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Our app doesn&apos;t need any LocationAlways permission</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record audio for making voice notes</string>
	<key>NSMotionUsageDescription</key>
	<string>Our app doesn&apos;t need any Motion permission</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app uses your photo library to allow you to select a profile picture</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Our app doesn&apos;t need any Speech Recognition permission</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
